# Server Configuration
NODE_ENV=development
INTERNAL_API_URL=http://backend:3001

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001

# Google AdSense
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-XXXXXXXXXXXXXXXX
